your-details, html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
.checkout-page{
float: left;
width: 100%;
position: relative;
clear: both;
}
.checkout-page p, .checkout-page a, .checkout-page h5{
    color: #000;
}
.text{
    color: #000;
}
.checkout-steps{
position: relative;
width: 100%;
float: left;
}
.checkout-steps .steps{
float: left;
width: 100%;
border: 1px solid #cccccc;
-webkit-border-radius: 10px;
border-radius: 10px;
margin-bottom: 10px;
}
.checkout-steps .step-title{
float: left;
width: 100%;
padding: 15px 25px;
font-size: 14px;
margin: 0;
background: url(../images/down-arow-2.png) right 25px top 22px no-repeat;
text-transform: uppercase;
font-weight: 400;
cursor: pointer;
}
.checkout-steps .active .step-title{
background: url(../images/up-arow.png) right 25px top 22px no-repeat;
}
.checkout-steps .disable .step-title{
cursor: default;
}
.step-description{
float: left;
width: 100%;
border-top: 1px solid #cccccc;
padding: 30px;
}
.input-radio{
float: left;
position: relative;
display: inline-block;
padding-right: 10px;
}
.step-description h5{
font-weight: 400;
font-size: 16px;
margin-bottom: 20px;
}
.form-row{
position: relative;
overflow: hidden;
margin-bottom: 10px;
width: 100%;
}
.input{
width: 100%;
padding: 10px;
}
.lebel-abs{
left: 20px;
position: absolute;
top: 10px;
}
.button{
float: right;
}
.namefild,.emailfild{
padding-left: 200px;
border: 1px solid #000;
border-radius: 5px;
}
.summeryfild{
padding-left: 160px;
}
.textareafild{
padding-top: 30px;
}
button{
background: #fff;
padding: 10px 20px;
border: 1px solid #cccccc;
font-size: 14px;
-webkit-border-radius: 10px;
border-radius: 10px;
outline: none;
}
button:hover{
border: 1px solid #fe5252;
color: #fe5252;
}
